/* view-dialog__buttons.module.css */

.viewDialogButtons {
  position: relative;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.viewDialogButtons:after {
  content: "";
  position: absolute;
  left: -12px;
  top: -12px;
  width: calc(100% + 24px);
  height: 2px;
  background: black;
}

.viewDialogButtonsWrapper {
  display: flex;
}

.viewDialogButtonsWrapper:not(:last-child) {
  margin-bottom: 10px;
}


.viewDialogButton {
  flex: 1;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewDialogButton:hover {
  background-color: #333;
}

.viewDialogButton:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.viewDialogButton:last-child {
  margin-right: 0;
}


.textareaField {
  border: 2px solid black;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex: 1;
  max-height: 60px;
  font-size: 14px;
  min-height: 60px;
  transition: border-color 0.3s ease;
  font-weight: 400;
  background-color: white;
  color: black;
  flex: 1;
  resize: none;
  max-height: 60px;
  height: 60px;
}

.viewDialogButtonsWrapper2 {
  margin-bottom: 18px;
  position: relative;

}

.viewDialogButtonsWrapper2::after {
  content: '';
  width: calc(100% + 24px);
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -9px;
  left: -12px;
}

.labelField {
  margin-bottom: 6px;
  display: block;
  font-weight: 500;
}