.parsingOptimazerScreen {
    position: relative;
    max-width: 700px;
    min-height: 400px;
    border: 2px solid black;
    margin: 0 auto;
    width: 100%;
    border-radius: 4px;
    padding: 12px;
}

.labelField {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
}

.textareaField {
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex: 1;
    margin-right: 12px;
    max-height: 120px;
    font-size: 16px;
    min-height: 120px;
    transition: border-color 0.3s ease;
    font-weight: 400;
    background-color: white;
    color: black;
    flex: 1;
    resize: none;
    max-height: 250px;
    height: 250px;
}


.textareaField:disabled {
    cursor: not-allowed;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.textareaField:focus {
    outline: none;
    border: 2px solid black;
}

.button {
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 4px;
    height: 66px;
    width: 100%;
    background-color: black;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color border color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.button:hover {
    background-color: #333;
    border: 2px solid #333;
}